<div class="vh-100 vw-100 pt-4 pb-4">
  <div
    class="container  bg-primary text-white p-5"
    style="border-radius: 50px"
  >
    <div class="row">
      <div class="col-md-6 mt-5 mb-5">
        <h1>Teleconsultation - A simple way to connect  </h1>
        <!-- <h3 class="mt-4">
          A demo of Agora SDK implementation with Angular 
        </h3> -->
        <a class="btn btn-success mt-4" [routerLink]="['/preview']">
          New Meeting
        </a>
      </div>
      <div class="col-md-6 mt-5 mb-5">
        <img src="assets/images/meeting-min.png" class="img-fluid" style="width: 100%" />
      </div>
    </div>
    <div >
    <p class="text-center text-white-50 small">  Implemented by HasoTechnology</p>
    </div>
  </div>
</div>
